<!-- ============================================================== -->
<!-- Main wrapper - style you can find in pages.scss -->
<!-- ============================================================== -->
<section id="wrapper">
  <div class="login-register" style="background-image:url(../assets/images/background/login-register.jpg);">
    <div class="login-box card">
      <div class="card-body">
        <form class="form-horizontal" id="recoverform" action="index.html">
          <a href="javascript:void(0)" class="text-center db">
            <!--<img src="../assets/images/logo-icon.png" alt="Home" />
            <br/>
            <img src="../assets/images/logo-text.png" alt="Home" />-->
            <img src="../assets/images/warehouse-logo.png" alt="Home" />
          </a>

          <div class="form-group ">
            <div class="col-xs-12">
              <h3>New Password</h3>
<!--              <p class="text-muted">Enter your Email and instructions will be sent to you! </p>-->
            </div>
          </div>
          <div class="form-group ">
            <div class="col-xs-12">
              <input class="form-control" type="password" required="" placeholder="Password"></div>
          </div>
          <div class="form-group ">
            <div class="col-xs-12">
              <h3>Confirm New Password</h3>
<!--              <p class="text-muted">Enter your Email and instructions will be sent to you! </p>-->
            </div>
          </div>
          <div class="form-group ">
            <div class="col-xs-12">
              <input class="form-control" type="password" required="" placeholder="Password"></div>
          </div>
          <div class="form-group text-center m-t-20">
            <div class="col-xs-12">
              <button class="btn btn-primary btn-lg btn-block text-uppercase waves-effect waves-light" type="submit">
                Reset
              </button>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</section>
<!-- ============================================================== -->
<!-- End Wrapper -->
<!-- ============================================================== -->
