<div
  class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
  <h1 class="h2">Ventas</h1>
</div>
<div id="container" class="container">
  <div id="add"
       class="bg-primary rounded-circle d-flex"
       data-bs-toggle="modal"
       data-bs-target="#saleModal"
       (click)="resetForm()"
  >
    <span class="text-center">+</span>
  </div>

  <div *ngFor="let sale of sales; index as i; first as isFirst"
       class="cardClasif">
    <div class="card-header d-flex justify-content-end">
      <a data-bs-toggle="modal"
         data-bs-target="#saleModal"
         (click)="editSale(sale)">
        <i class="fa-solid fa-pen me-3"></i>
      </a>
      <a data-bs-toggle="modal"
         data-bs-target="#saleRemoveModal"
         (click)="selectSale(sale)">
        <i class="fa-regular fa-trash-can text-danger"></i>
      </a>
    </div>
    <div class="card-body">
      <p class="text-center fw-bold">FECHA de VENTA</p>
      <h5 class="card-title">{{sale.fecha}}</h5>
      <div class="d-flex align-items-center" style="height: 75px;">

        <div style="display: block; margin-left: 1px; margin-right: 1px; width: 50%">
          <p class="text-center fw-bold">PRODUCTOS</p>
          <p class="form-control text-center fw-bold">{{sale.productos.length}}</p>
        </div>

        <div style="display: block; margin-left: 1px; margin-right: 1px;; width: 50%">
          <p class="text-center fw-bold">TOTAL</p>
          <p class="form-control text-center fw-bold">{{sale.total | currency}}</p>
        </div>

      </div>
    </div>
  </div>
</div>

<!-- New/Edit Sale Modal -->
<div class="modal fade"
     id="saleModal"
     tabindex="-1"
     aria-labelledby="saleModalLabel"
     aria-hidden="true">
  <form
    id="saleEForm"
    autocomplete="off"
    [formGroup]="saleForm"
  >
    <div class="modal-dialog modal-fullscreen">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="saleModalLabel">Nueva venta</h5>
          <!-- button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button -->
        </div>
        <div class="modal-body">
          <div class="row">
            <div class="col">
              <div class="input-group mb-3">
                <label class="input-group-text" for="customer">Cliente</label>
                <select class="form-select"
                        id="customer"
                        name="customer"
                        formControlName="id_cliente"
                >
                  <option [value]="null">Elegir...</option>
                  <option *ngFor="let customer of customers"
                          [value]="customer.id_clie">{{customer.nombre}}</option>
                </select>
              </div>
              <div class="text-danger mb-3"
                   *ngIf="formSaleReference.id_cliente.touched && formSaleReference.id_cliente.errors?.required">
                * El cliente es obligatorio
              </div>
            </div>
            <div class="col">
              <div class="input-group mb-3">
                <label class="input-group-text" for="customer">Almacén</label>
                <select class="form-select"
                        id="stock"
                        name="stock"
                        formControlName="id_almacen"
                >
                  <option [value]="null">Elegir...</option>
                  <option *ngFor="let stock of stocks"
                          [value]="stock.id">{{stock.nombre}}</option>
                </select>
              </div>
              <div class="text-danger mb-3"
                   *ngIf="formSaleReference.id_almacen.touched && formSaleReference.id_almacen.errors?.required">
                * El cliente es obligatorio
              </div>
            </div>
            <div class="col">
              <div class="input-group mb-3">
                <label class="input-group-text" for="customer">Fecha</label>
                <mat-form-field>
                  <input matInput
                         id="fecha"
                         name="fecha"
                         [matDatepicker]="picker"
                         formControlName="fecha"
                         [formControl]="date"
                         placeholder="">
                  <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                  <mat-datepicker #picker></mat-datepicker>
                </mat-form-field>
              </div>
              <div class="text-danger mb-3"
                   *ngIf="formSaleReference.fecha.touched && formSaleReference.fecha.errors?.required">
                * La fecha es obligatoria
              </div>
            </div>
            <div class="col">
              <div class="input-group mb-3">
                <span class="input-group-text">Total</span>
                <input type="text"
                       class="form-control"
                       placeholder="Total"
                       aria-label="total"
                       aria-describedby="total"
                       id="total"
                       name="total"
                       formControlName="total"
                >
              </div>
              <div class="text-danger mb-3"
                   *ngIf="formSaleReference.total.touched && formSaleReference.total.errors?.required">
                * El total es obligatorio
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-xs-12 form-group marL40"
                 *ngIf="productos != null"
            >
              <div style="margin-top: 15px">
                <div class="row d-flex panel-heading text-bold" style="margin-top: 0; font-size: 20px">
                  <div class="col text-center">
                    DETALLE DE LA VENTA
                  </div>
                </div>

                <div class="row">
                  <div class="col">

                    <table class="table">
                      <thead class="thead-dark">
                      <tr>
                        <th>No</th>
                        <th>Producto</th>
                        <th>Guardar producto como...</th>
                        <th>Cantidad</th>
                        <th>Precio unitario</th>
                        <th>Subtotal</th>
                        <th>Presentación</th>
                        <th>Unidad</th>
                      </tr>
                      </thead>
                      <tbody formArrayName="productos">
                      <tr *ngFor="let item of productos.controls; let i = index" [formGroupName]="i">
                        <td> {{ i + 1 }}</td>
                        <td>
                          <div class="input-group mb-3">
                            <select class="form-select"
                                    id="id_producto"
                                    name="id_producto"
                                    formControlName="id_producto"
                                    (change)="getProductName($event, i)"
                            >
                              <option [value]="0">Elegir...</option>
                              <option *ngFor="let product of products"
                                      [value]="product.id_prod">{{product.producto}}</option>
                            </select>
                          </div>
                          <!--<div class="text-danger mb-3"
                               *ngIf="item.id_producto.touched && i.id_producto.errors?.required">
                            * El producto es obligatorio
                          </div>-->
                        </td>
                        <td>
                          <input type="text"
                                 placeholder="producto"
                                 class="form-control"
                                 formControlName="producto"
                          >
                        </td>
                        <td>
                          <input type="text"
                                 placeholder="cantidad"
                                 class="form-control"
                                 formControlName="cantidad"
                                 (blur)="getSubtotal(i)"
                          >
                        </td>
                        <td>
                          <input type="text"
                                 placeholder="precio"
                                 class="form-control"
                                 formControlName="precio"
                                 (blur)="getSubtotal(i)"
                          >
                        </td>
                        <td>
                          <input type="text"
                                 placeholder="subtotal"
                                 class="form-control"
                                 formControlName="subtotal"
                          >
                        </td>
                        <td>
                          <input type="text"
                                 placeholder="presentacion"
                                 class="form-control"
                                 formControlName="presentacion"
                          >
                        </td>
                        <td>
                          <div class="input-group mb-3">
                            <select class="form-select"
                                    id="id_unidad"
                                    name="id_unidad"
                                    formControlName="id_unidad"
                            >
                              <option [value]="0">Elegir...</option>
                              <option *ngFor="let unit of units"
                                      [value]="unit.id">{{unit.nombre}}</option>
                            </select>
                          </div>
                          <!--<div class="text-danger mb-3"
                               *ngIf="formSaleReference.id_unidad.touched && formSaleReference.id_unidad.errors?.required">
                            * El producto es obligatorio
                          </div>-->
                        </td>
                        <td>
                          <button class="btn" style="padding: 0rem 0.75rem;" (click)="removeNewProduct(i)">
                            <i class="fa fa-trash fa-2x"></i>
                          </button>
                        </td>
                      </tr>
                      </tbody>
                    </table>
                  </div>
                </div>
                <div class="row float-right">
                  <div class="col" style="text-align: right">
                    <button class="btn btn-primary mt-3 btn-block" type="button" (click)="addNewProduct()">
                      <i class="fa fa-plus fa-2x"></i>
                    </button>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="modal-footer">
          <app-spinner layerName="sp" [fullScreen]=false></app-spinner>
          <button type="button"
                  class="btn btn-secondary"
                  data-bs-dismiss="modal"
          >
            Cerrar
          </button>
          <!--                  [disabled]="saleForm.invalid"-->
          <button type="button"
                  class="btn btn-primary"
                  (click)="onSave()"
          >
            Guardar Cambios
          </button>
        </div>
      </div>
    </div>
  </form>
</div>

<!-- Remove Sale Modal -->
<div class="modal fade"
     id="saleRemoveModal"
     tabindex="-1"
     role="dialog"
     aria-labelledby="saleRemoveModalLabel"
     aria-hidden="true"
     [ngStyle]="{'modal':modal}"
>
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="saleRemoveModalLabel">Borrar usuario</h5>
        <!--<button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>-->
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <h5>¿Estás seguro?</h5>
        <div class="text-center">Se borrará <b>{{product?.producto}}</b></div>
      </div>
      <div class="modal-footer">
        <app-spinner layerName="sr" [fullScreen]=false></app-spinner>
        <button #closeButton
                type="button"
                class="btn btn-secondary"
                data-bs-dismiss="modal"
                aria-label="Close"
        >
          No
        </button>
        <button type="button"
                class="btn btn-primary"
                (click)="removeSale()"
        >
          Si
        </button>
      </div>
    </div>
  </div>
</div>

<app-spinner layerName="gral" [fullScreen]=false></app-spinner>
