body {
  margin: 5px 0;
}

.cardClasif {
  width: 300px !important;
  height: 100px !important;
}

.card {
  border-radius: 8px;
  border: 1px solid #cccccc;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 5px;
  box-sizing: border-box;
  width: 200px;
  height: 100px;
  transition: all linear 200ms;
}

.card:hover {
  transform: scale(1.1);
  transition: all linear 200ms;
  z-index: 1;
  box-shadow: 1px 1px 10px rgba(0, 0, 0, .3);
  cursor: pointer;
}

// DATA TABLES

::ng-deep .dataTables_wrapper {
  font-family: Montserrat, sans-serif;
  font-size: 1.2em;
  top: -45px;
}

::ng-deep .dataTables_wrapper .dataTables_length, .dataTables_wrapper .dataTables_filter, .dataTables_wrapper .dataTables_info, .dataTables_wrapper .dataTables_processing, .dataTables_wrapper .dataTables_paginate {
  margin-bottom: 15px;
}

::ng-deep .dataTables_wrapper .dataTables_paginate .paginate_button:hover {
  border-radius: 50%;
}

::ng-deep .dataTables_wrapper .dataTables_paginate .paginate_button.current, .dataTables_wrapper .dataTables_paginate .paginate_button.current:hover {
  border-radius: 50%;
}

::ng-deep .dataTables_wrapper .dataTables_filter input {
  border: 0;
}

::ng-deep .dataTables_wrapper .dataTables_length select {
  border: 0;
}

.dt-column-center {
  text-align: center;
}

.dt-column-center a {
  cursor: pointer;
}

.dt-column-center a i {
  font-size: 1.2em;
}

// DATA TABLES
