<!--<div id="main-wrapper">
  <div class="page-wrapper">
    <app-header></app-header>
    <app-sidebar></app-sidebar>
    <div class="container-fluid">
      &lt;!&ndash;<app-breadcrumbs></app-breadcrumbs>&ndash;&gt;
      <div class="row">
        <div class="col-12">
          <div class="card">
            <div class="card-body">
              This is some text within a card block.
              <router-outlet></router-outlet>
            </div>
          </div>
        </div>
      </div>
    </div>
    <app-footer></app-footer>
  </div>
</div>-->


<div class="container-fluid">
  <app-header></app-header>
  <div class="row">
    <app-sidebar></app-sidebar>
    <main class="col-md-9 ms-sm-auto col-lg-10 px-md-4">
      <router-outlet></router-outlet>
    </main>
  </div>
  <app-footer></app-footer>
</div>
